.accordion_tittle {
    width: 5.5rem;
    height: 1.125rem;
    font-family: "Exo 2";
    font-size: 0.938rem;
    font-weight: 600;
    color: #31303e;
}

.metrics {
    height: 14.375rem;
    padding: 0 1rem 0.5rem 1rem;
    display: flex;

}

.icon_min_exp {
    height: 0.825rem;
    width: 0.825rem;
    margin-left: 0.825rem;
}

.section_1 {
    width: 10.9rem;
    height: 100%;
    border-right: 1px solid #c4c4c4;
}

.section_2 {
    height: 100%;
    border-right: 1px solid #c4c4c4;
    width: 20%;
    padding-left: 1.375rem;
}

.section_3 {
    height: 100%;
    border-right: 1px solid #c4c4c4;
    padding-left: 1.375rem;
    width: 25%;
}

.section_4 {
    height: 100%;
    padding-left: 1.375rem;
    width: 40%;
}

.tile {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 0.406rem;
}

.tile_icon {
    width: 1.25rem;
    height: 1.25rem;
}

.tile_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.25rem;
}

.tile_tittle {
    height: 0.75rem;
    font-family: "Exo 2";
    font-size: 12px;
    color: #5a5965;
}

.tile_count {
    font-family: "Exo 2";
    font-size: 1rem;
    font-weight: 600;
    color: #31303e;
}

.section_tittle {
    font-family: "Exo 2";
    font-size: 0.75rem;
    font-weight: 600;
    color: #31303e;
}

.donet_grapgh {
    width: 90%;
    height: 90%;
}

.line_grapgh {
    width: 90%;
    margin-top: 1.438rem;
    height: 84%;
}

.environments_count {
    margin-top: 0.5rem;
    font-family: "Exo 2";
    font-size: 1rem;
    font-weight: 600;
    color: #31303e;
    margin-bottom: 0.563rem;
}

.environments_tittle {
    opacity: 0.8;
    font-family: "Exo 2";
    font-size: 0.75rem;
    color: #31303e;
    margin-left: 2px;
    margin-bottom: 9px;
}

/* grid section */

.grid_container {
    height: 11.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.item1 {
    background-color: #31394d;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    background-color: #1d5d87;
    grid-column-start: 4;
    grid-column-end: 6;
}

.item3 {
    background-color: #1d5d87;
    grid-column-start: 6;
    grid-column-end: 8;
}

.item4 {
    background-color: #0589ce;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item5 {
    background-color: #1d5d87;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item6 {
    background-color: #71bae0;
}

.item7 {
    background-color: #71bae0;

}

.item8 {
    background-color: #71bae0;

}

.item9 {
    background-color: #71bae0;

}

.item10 {
    background-color: #71bae0;

}

.item_tittle {
    margin-top: 4px;
    margin-left: 4px;
    opacity: 0.75;
    font-family: "Exo 2";
    font-size: 10px;
    font-weight: 500;
    color: #ffff;
}

.donet_graph {
    position: relative;
}

.total_endpoint_types_count {
    position: absolute;
    top: 33%;
    left: 32.7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    color: #31303e;
}

.total_endpoint_types_label {
    font-family: "Exo 2";
    font-size: 12px;
    color: #5a5965;
}

.sec_2_content {
    height: calc(100% - 0.875rem);
    width: 100%;
    position: relative;
}

.legend_carousel {
    width: 90%;
    height: 2.813rem;
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 10px;
}

.pie_chart_legend {
    display: flex;
    align-items: center;
    gap: 4px;
}

.donet_legendColor {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 2px;
    background-color: #0589ce;
}

.donet_legend_type {
    font-family: "Exo 2";
    font-size: 12px;
    color: #5a5965;
}

.donet_legend_count {
    font-size: 15px;
    font-weight: 600;
    color: #31303e;
}