.side_tab {
    width: 3.5rem;
    background-color: #ffffff;
}

.logo_container {
    height: 3.5rem;
    width: 3.5rem;
    background-color: #e20074;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas_logo {
    height: 1.938rem;
    width: 1.375rem;
}

.contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.elements {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f1f1f1;
    border-radius: 100%;
}